body {
    background-image: url('./porsche.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.white-text {
    color: white;
}


.black-box {
    background-image: url('./carbon.jpg');
    background-size: cover; /* Adjust the image size to cover the entire box */
    padding: 20px; /* Add some padding for spacing */
}
